.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;

  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Content {
  color: orange;
  overflow: auto;
  outline: none;
  position: absolute;

  left: auto;
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px;

  transition: 1000ms ease-in-out;
}

.isOpen {
  width: 250px;
  right: -45px;

  top: 0px;
  bottom: 0px;
}
.isClose {
  width: 0px;
  right: -45px;

  top: 0px;
  bottom: 0px;
  visibility: hidden;
}

.overlayIsOpen {
  background-color: rgba(1, 1, 1, 0.1);
}
.overlayIsClose {
  pointer-events: none;
  transition: 1s;
}

.isOpen2 {
  width: 300px;
  height: 300px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.isClose2 {
  width: 0px;
  height: 0px;

  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
