.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;

  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Content {
  color: orange;
  position: absolute;
  overflow: "auto";
  outline: none;
  top: 0px;
  bottom: 0px;
  right: -45px;
  left: auto;
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px;

  width: 0px;
  transition: 1000ms ease-in-out;
}

.isOpen {
  width: 250px;
}
.isClose {
  visibility: hidden;
}

.overlayIsOpen {
  background-color: "rgba(1,1,1,0)";
}
.overlayIsClose {
  pointer-events: none;
  transition: 1s;
}
